<div class="container z-depth-2">
    <div class="row margin-md-top" style="padding-bottom: 10px;">
      <div class="col s12 m12">
        <h4>{{recipe.title}}</h4>
        <div *ngIf="recipe.subtitle">
          <h6>{{recipe.subtitle}}</h6>
        </div>
        <div *ngIf="recipe.description">
          <div *ngIf="recipe.thumbnail_url; else noThumbnail">
            <div class="row">
              <div class="col s12 m4">
                <p>
                  <img src="{{recipe.thumbnail_url}}" class="responsive-img">
                </p>
              </div>
              <div class="col s12 m8">
                <p>
                  <b>Beschreibung: </b><br>
                  {{recipe.description}}
                </p>
              </div>
            </div>
          </div>
          <ng-template #noThumbnail>
            <div class="col s12 m12">
              <p>
                <b>Beschreibung: </b><br>
                {{recipe.description}}
              </p>
            </div>
          </ng-template>
        </div>
  
        <hr>
  
        
        <div *ngIf="recipe.time_sum">
          <p>
            <b>Gesamte Zeit:</b> {{recipe.time_sum}}
          </p>
        </div>
  
        <div *ngIf="recipe.time_cook">
          <p>
            <b>Kochzeit:</b> {{recipe.time_cook}}
          </p>
        </div>

        <div *ngIf="recipe.ingredients">
            <hr>
            <p><b>Zutaten:</b></p>
            <ul>
              <li style="list-style-type: initial; margin-left: 20px;" *ngFor="let i of recipe.ingredients">{{i.amount}} {{i.name}}</li>
            </ul>
          </div>
        
        <div *ngIf="recipe.steps">
          <hr>
          <p><b>Kurzanleitung:</b></p>
          <ul>
            <li style="list-style-type: initial; margin-left: 20px;" *ngFor="let s of recipe.steps">{{s}}</li>
          </ul>
        </div>
        <hr>
        <div>
          <a class="waves-effect waves-light btn add-icon lighten-1" style="margin-right: 5px;" (click)="update()">
            <i class="material-icons right">edit</i>
            Rezept bearbeiten
          </a>
          <a class="waves-effect waves-light btn add-icon lighten-1" style="margin-right: 5px;" (click)="delete()">
            <i class="material-icons right">delete</i>
            Rezept löschen
          </a>
          <hr>
        </div>
      </div>
    </div>
  </div>
  