.margin-md-top {
    margin-top: 20px;
  }
  
  .padding-sm {
    padding: 20px;
  }
  
  .padding-xs {
    padding: 5px;
  }
  
  .add-icon {
    background-color: #27ae60;
  }
  
  hr {
    color: #f5f5f5;
  }
  